/* Global styles come from external css https://codepen.io/GreenSock/pen/gOWxmWG */

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  /* background: #fff; */
  font-family: "Edu NSW ACT Foundation";
}


/* html, body {
  margin: 0;
  padding: 0;
  background: #080505;
  overflow-x: hidden;  
}
 */
